
<center>
<h1>Home Page test interest example</h1>
<form action="/" id="formulario" method="POST">
<div class="row">
<div class="col-md-8 offset-md-2">
<div class="row">
<div class="col-md-4">
Capital
<input type="number" class="form-control" required name="capital"  placeholder="Capital" value="{{capital}}">
</div>    <div class="col-md-4">
Tasa de interes
<input type="number" class="form-control" required name="tasa" placeholder="Tasa de interes" value="{{tasa}}">
</div>    <div class="col-md-4">
Cantidad de años
<input type="number" class="form-control" required name="cant" placeholder="Cant de años" value="{{cant}}">
</div>
</div>
<br>
<button type="submit" class="w-100 btn btn-success">Enviar</button>
<br>

  
 <!-- muestro siempre cuando exista capital -->
{{#if capital}}

<p>
    
   Calculo de interes <br>
      capital {{capital}} <br>
      tasa {{tasa}}<br>
      cantidad años {{cant}}<br>
      calculo intereses = {{calculotasa}}
</p>
 {{/if}}

</div>
</div>
</form>
</center>